<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manji.user.mapper.SysRoleMapper">
    <resultMap id="RoleMap" type="com.manji.user.dto.RoleDTO">
        <id property="id" column="id" />
        <result property="roleName" column="role_name" />
        <result property="description" column="description" />
        <collection property="menus"  ofType="string" >
            <constructor >
                <arg column="menu_id" />
            </constructor>
        </collection>
    </resultMap>

    <select id="getRoleById" resultMap="RoleMap">
        select sr.id, sr.role_name, sr.description, srm.menu_id
        from sys_role sr
                 left join sys_role_menu srm on sr.id = srm.role_id
        where sr.id = #{roleId}
    </select>
</mapper>
